//
// Copyright (C) 2017-2018 ZeeZide GmbH, All Rights Reserved
// Created by Helge Hess on 23/01/2017.
//


// xcconfig deps do not easily "add up", so provide them as own variables too

SWIFT_XCODE_HEADER_SEARCH_PATHS = $(SRCROOT)/$(PRODUCT_NAME)/.buildzz/.build/Xcode/$(PLATFORM_PREFERRED_ARCH)-apple-$(SWIFT_PLATFORM_TARGET_PREFIX)$($(DEPLOYMENT_TARGET_SETTING_NAME))/$(CONFIGURATION)

SWIFT_XCODE_SWIFT_INCLUDE_PATHS = $(SRCROOT)/$(PRODUCT_NAME)/.buildzz/.build/$(PLATFORM_PREFERRED_ARCH)-apple-$(SWIFT_PLATFORM_TARGET_PREFIX)$($(DEPLOYMENT_TARGET_SETTING_NAME))/$(CONFIGURATION)

SWIFT_XCODE_LIBRARY_SEARCH_PATHS = $(SRCROOT)/$(PRODUCT_NAME)/.buildzz/.build/Xcode/$(PLATFORM_PREFERRED_ARCH)-apple-$(SWIFT_PLATFORM_TARGET_PREFIX)$($(DEPLOYMENT_TARGET_SETTING_NAME))/$(CONFIGURATION)

SWIFT_XCODE_OTHER_LDFLAGS = -lXcodeSPMDependencies


// override the main variables (be careful w/ config include sequence)

HEADER_SEARCH_PATHS  = $(inherited) $(SWIFT_XCODE_HEADER_SEARCH_PATHS)
SWIFT_INCLUDE_PATHS  = $(inherited) $(SWIFT_XCODE_SWIFT_INCLUDE_PATHS)
LIBRARY_SEARCH_PATHS = $(inherited) $(SWIFT_XCODE_LIBRARY_SEARCH_PATHS)
OTHER_LDFLAGS        = $(inherited) $(SWIFT_XCODE_OTHER_LDFLAGS)
