<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Kind</key>
    <string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
  
    <key>Identifier</key>
    <string>de.zeezide.dt.unit.spmTool</string>

    <key>Ancestors</key>
    <array>
      <string>de.zeezide.dt.unit.spmToolBase</string>
      
      <string>de.zeezide.dt.unit.spm.modules.cows</string>
      <string>de.zeezide.dt.unit.spm.modules.CryptoSwift</string>
      <string>de.zeezide.dt.unit.spm.modules.Regex</string>
    </array>

    <key>Concrete</key>
    <true/>

    <key>Description</key>
    <string>This template provides a starting point for a tool using the Swift Package Manager.</string>    

    <key>Targets</key>
    <array>
      <dict>
        <key>ProductType</key>
        <string>com.apple.product-type.tool</string>
        <key>TargetIdentifier</key>
        <string>com.apple.dt.commandLineToolTarget</string>

        <key>BuildPhases</key>
        <array>
          <dict>
            <key>SortOrder</key>    <integer>0</integer>
            <key>Name</key>
            <string>Build Swift Package Manager Dependencies</string>
            <key>Class</key>      <string>ShellScript</string>
            <key>ShellPath</key>  <string>/bin/sh</string>
            <key>ShellScript</key>
            <string>swift xcode build</string>
          </dict>
          <dict><key>Class</key><string>Sources</string>   </dict>
          <dict><key>Class</key><string>Frameworks</string></dict>
        </array>
      </dict>
    </array>
    
    <key>Nodes</key>
    <array>
      <string>Sources/___PACKAGENAMEASIDENTIFIER___/main.swift:body:helloworld</string>
    </array>    
  </dict>
</plist>
