<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Kind</key>
    <string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
  
    <key>Identifier</key>
    <string>de.zeezide.dt.unit.spm.modules.cows</string>

    <key>Concrete</key>
    <false/>

    <key>Options</key>
    <array>
      <dict>
        <key>Identifier</key>   <string>zzSPMCows</string>
        <key>Name</key>
        <string>Use the excellent SPM "cows" module.</string>
        <key>Description</key>
        <string>Add the excellent "cows" module as a Swift Package Manager dependency. That means no less than lots and lots of ASCII cows right at your fingertips!</string>
        
        <key>SortOrder</key>    <integer>10</integer>
        <key>Type</key>         <string>checkbox</string>
        <key>Default</key>      <string>false</string>
        <key>NotPersisted</key> <true/>
        <key>Units</key>
        <dict>
          <key>true</key>
          <array>
            <dict>
              <key>Nodes</key>
              <array>
                <string>Package.swift:spmpackagedecl:deps:cows(url: "https://github.com/AlwaysRightInstitute/cows.git", from: "1.0.0")</string>
                <string>Package.swift:spmpackagedecl:targets:default:cows</string>
                <!-- TODO: this is project specific, drop it for now
                <string>AppDelegate.swift:imports:import:zzSPMCows</string>
                <string>ViewController.swift:imports:import:zzSPMCows</string>
                -->
              </array>
              <key>Definitions</key>
              <dict>
                <key>AppDelegate.swift:imports:import:zzSPMCows</key>
                <string>import cows</string>
                <key>ViewController.swift:imports:import:zzSPMCows</key>
                <string>import cows</string>
                <key>main.swift:imports:import:zzSPMCows</key>
                <string>import cows</string>
              </dict>
            </dict>
          </array>
        </dict>
      </dict>
    </array>
  </dict>
</plist>
